html,body{margin:0;overflow:hidden;}
.navbar {
	position: absolute !important;
	width: 100%;
	z-index: 1;
}
#stats {
	margin-top: 1.5px;
	right: 1.5px;
}
.dropdown span.name {
	display: block;
}
.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}
.badge {
	margin-left: 5px;
	margin-right: 5px;
}
.panel {
	width: 400px;
	position: absolute;
	top: 60px;
	right: 10px;
	display: none;
	z-index: 2;
}
.glyphicon.glyphicon-remove {
	float: right;
}

.glyphicon.glyphicon-remove:hover {
	color: red;
	cursor: pointer;
}

.navbar-right {
	padding-right: 75px;
}

.panel-help {
	width: 600px;
}

.dropdown .hidden {
	display: none;
}